.button-container {
    display: flex;
    flex-direction: column; /* Coloca los botones en una columna */
    gap: 10rem; /* Ajusta el espacio entre los botones */
    align-items: flex-start; /* Alinea los botones al inicio */
}